* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.body {
    background-image: url('../images/back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    display: inline-block;
}

.gameBoard {
    margin: auto;
    margin: 3%;
    padding: 0px;
    width: 70%;
    text-align: center;
    display: inline-block;
}

span {
    display: block;
}

.col {
    margin: 7px;
    width: 30%;
    float: left;
    box-sizing: inherit;
}

#board {
    background-image: url("../images/0.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

#fonticon {
    font-size: 28px;
    color: red
}

button {
    /* border-radius: 6px; */
    border: none;
    color: rgb(5, 5, 5);
    padding: 10px;
    background-color: Transparent;
    width: 200px;
    cursor: pointer;
}

.col1 {
    background-color: #555555;
}

.roundScore {
    color: white;
    background-color: #d83e10;
}

.score {
    color: red;
    font-size: 1.5em;
}

.scoreButton {
    border-radius: 10%;
    width: 40px;
    color: red;
    padding: 3%;
    margin: 5%;
    background-color: white;
    border: 1px solid #555555;
    font-size: 70%;
}

.nodisplay {
    visibility: hidden;
}

.display {
    visibility: visible;
}

.dot {
    width: 20px;
    height: 20px;
}

.current {
    display: block;
    position: relative;
    bottom: 3px;
    background-color: #d83e10;
    margin: auto;
    width: 80px;
    padding: 1.5em;
    border-radius: 10%;
}

.placeholder {
    height: 100px;
    width: 100px;
    padding: 0px;
    margin: 46px auto;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 80px;
}

.player {
    height: 200px;
    font-size: 200%;
}

[data-icon]:before {
    font-family: icons;
    content: attr(data-icon);
}
