
@{
    ViewBag.Title = "logout";
}

<h2>logout</h2>
<br /><br />
<h4>Are You sure ???</h4>
<br /><br /><br /><br />
<input type="button" name="addFriend" value="return Home" onclick="location.href='@Url.Action("Index", "Home")'" class="btn btn-success btn-block">

<input type="button" name="addFriend" value="logout" onclick="location.href='@Url.Action("Logout1", "Login")'" class="btn btn-danger btn-block">
